.recipe-container {
  display: flex;
  justify-content: center;
  margin: 4% 3%;
  .show_recipe {
    width: 100%;
    margin: 0 2%;
  }
  .display-only-big-screen {
    display: none;
  }
}

.image-full {
  width: 100%;
  object-fit: cover;
}

.smaller-icon {
  font-size: 16px;
  color: grey;
  &:hover {
    color: $orange;
  }
}

.black-text {
  color: $black;
}

.smaller-text {
  font-size: 12px;
}

.bigger-icon {
  font-size: 32px;
}

.delete-review a {
  text-decoration: none;
  color: grey;
  &:hover {
    color: $orange;
  }
}
.add-cook {
  align-items: center;
  form {
    margin: 0px 10px 0px 0px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 1000px) {
  .recipe-container {
    .display-only-big-screen {
      width: 30%;
      display: flex;
      flex-direction: column;
      margin: 0 2%;
    }
    .smaller-screen-display {
      display: none;
    }
    .show_recipe {
      width: 70%;
    }
    .image-full {
      width: 100%;
      object-fit: cover;
    }
  }
}
