.recipe-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 0 9%;
  .show_recipe {
    width: 100%;
    margin: 0 0 0 2%;
    max-width: 800px;
  }
  .display-only-big-screen {
    display: none;
  }
}

.image-full {
  width: 100%;
  img {
    width: 100%;
    object-fit: cover;
  }
}

.smaller-icon {
  font-size: 16px;
  color: grey;
  &:hover {
    color: $orange;
  }
}

.black-text {
  color: $black;
}

.smaller-text {
  font-size: 12px;
}

.bigger-icon {
  font-size: 32px;
}

.delete-review a {
  text-decoration: none;
  color: grey;
  &:hover {
    color: $orange;
  }
}
.add-cook {
  align-items: center;
  form {
    margin: 0px 10px 0px 0px;
  }
}

// Medium devises
@media (min-width: 968px) {
  .recipe-container {
    .display-only-big-screen {
      width: 30%;
      display: flex;
      flex-direction: column;
      margin: 0 0 0 2%;
    }
    .smaller-screen-display {
      display: none;
    }
  }
  .sticky-sidebar {
  position: sticky;
  top: 60px;
  }
}

// Larger devises
@media (min-width: 1205px) {
  .recipe-container {
    .display-only-big-screen {
      width: 30%;
      display: flex;
      flex-direction: column;
      margin: 0 0 0 2%;
    }
    .smaller-screen-display {
      display: none;
    }
    .image-full {
      display: flex;
      justify-content: center;
      img {
        width: 70%;
      }
    }
  }
}


