<div class="footer">

  <div class="main-container">

    <div class="column">
      <h5>Contact us</h5>
      <p>Adress</p>
      <p>Phone</p>
      <p>Email</p>
      <div class="footer-links">
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
      </div>
    </div>

    <div class="column">
      <h5>Recipes</h5>
      <p><%= link_to "All recipes", recipes_path %></p>
      <p><%= link_to "Your cookbook", favorites_path %></p>
      <p><%= link_to "Add a recipe", new_recipe_path %></p>
    </div>

    <div class="column">
      <h5>Calendar</h5>
      <p><% link_to "Your calendar", meals_path %></p>
      <p>Share your calendar</p>
    </div>

    <div></div>

  </div>

  <div class="footer-copyright">
    @Meal Planning's final project from Le Wagon bootcamp, batch 438 <i class="fas fa-heart"></i>
  </div>

</div>
