.orange-btn {
  background-color: $orange;
  opacity: 0.9;
  color: $white;
  &:hover {
    color: white;
    opacity: 1;
  }
}

.photo-upload {
    color: transparent;
    position: relative;
    color: black;
  }

  .photo-upload::-webkit-file-upload-button {
    visibility: hidden;
  }

  .photo-upload::before {
    content: 'Add';
    background-color: $orange;
    opacity: 0.9;
    color: $white;
    display: inline-block;
    padding: 6px 30px;
    margin-top: 3px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    font-size: 14px;
    &:hover {
      color: white;
      opacity: 1;
  }
  }
