.calendar-heading {
  font-size: 24px;
}

.calendar-heading > a {
  text-decoration: none;
  color: $coral;
  border-radius: 50%;
  text-align: center;
  &:hover {
    color: $white;
    background-color: $coral;
  }
}

.text-color {
  background-color: $cultured;
  color: $black;
  border: none !important;
  padding: 4px !important;
}

.day {
  border: 1px solid lightgrey;
  background-color: $white;
  color: $black;
  min-width: 120px;
  max-width: 240px;
  text-align: center;
  padding: 0 !important;
}

.day-format {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 80px;
}

// Medium devices (tablets, 768px and up)
@media (max-width: 900px) {
  .day {
    min-width: 80px;
  }
}

.bottom-border{
  border-bottom: 1px solid lightgrey;
}

.meal-card {
  width: 100%;
  background-color: $coral;
  opacity: 0.8;
  border-radius: 8px;
  padding: 4px 8px;
  text-align: center;
  margin: 2px;
  a {
    text-decoration: none;
    color: $white;
  }
  &:hover {
    opacity: 1;
  }
}

.hover-garbage:hover {
  color: $black;
}

.group-selection {
  display: flex;
  justify-content: flex-end;
  button {
    margin: 0 4px;
  }
}
