.calendar-heading {
  font-size: 24px;
}

.calendar-heading > a {
  text-decoration: none;
  color: $coral;
  border-radius: 50%;
  text-align: center;
  &:hover {
    color: $white;
    background-color: $coral;
  }
}

.text-color {
  background-color: $cultured;
  color: $black;
  border: none !important;
  padding: 0 !important;
}
.all-cal{
  border: 1px solid rgb(161, 160, 160);
  justify-content: center;
  width: 100%;
  display: table;
  border-spacing: 0 !important;
}

.all{
  border: 1px solid lightgrey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2% 2%;
}

.table {
  border: none !important;
}

.first-col-head {
  border: none !important ;
  display: table-header-group;
}

.first-row-head {
  border: 1px solid red ;
  height: 100%;
  display: table-cell;
  flex-direction: column;
}

tbody > tr {
  border: 2px solid lightblue;
  width: 100%;
  display: table-row;
}
.day{
  border: 1px solid lightgreen;
  display: table-cell;
  background-color: lightyellow;
}

.headlines {
  border: solid 1px rgba(0,0,0,0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.d-format {
  border: 1px solid lightgrey;
  color: $black;
  height: 150px;
  background-color: $white;
  display: flex;
  flex-direction: column;
  justify-items: center;
}

// Medium devices (tablets, 768px and up)
@media (max-width: 900px) {
}

.meal-card {
  width: 85%;
  padding: 2% 2%;
  margin: auto;
  height: fit-content;
  background-color: $coral;
  opacity: 0.8;
  border-radius: 8px;
  text-align: center;
  
  a {
    text-decoration: none;
    color: $white;
  }
  &:hover {
    opacity: 1;
  }
}

.hover-garbage:hover {
  color: $black;
}

.group-selection {
  display: flex;
  justify-content: flex-end;
  button {
    margin: 0 4px;
  }
}

