.calendar-heading {
  font-size: 24px;
}

.calendar-heading > a {
  text-decoration: none;
  color: $coral;
  border-radius: 50%;
  text-align: center;
  &:hover {
    color: $white;
    background-color: $coral;
  }
}

.text-color {
  background-color: $cultured;
  color: $black;
  border: none !important;
  padding: 0 !important;
}

.all{
  border: none !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 98%;
  margin: 1% 1%;
  padding:1%;
}

.table {
  border: none !important;
  width: 100% ;
  table-layout: fixed;
  padding: none !important;
  margin: none !important;
  display: table;
}

.headers {
  border: none !important;
  display: table-row;
  width: inherit;
  padding: none !important;
  margin: none !important;
}

.body {
  border: none !important;
  display: table-row;
  width: inherit;
}
.first-col {
  border: none !important;
  padding: 1% 0% !important;
  height: 100%;
  flex-direction: column;
}

.day {
border: none !important ;
padding: 2% 0% !important;
margin: 0 0 !important;
}

.headlines {
  border: none;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.d-format {
  border: 1px solid lightgrey;
  color: $black;
  background-color: $white;
  height: 240px;
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

// Medium devices (tablets, 768px and up)
@media (max-width: 900px) {
}

.meal-card {
  width: 96%;
  height: fit-content;
  padding: 2% 2%;
  margin: 2% 2%;
  background-color: $coral;
  opacity: 0.8;
  border-radius: 8px;
  display: flex ;
  justify-content: space-between;
  align-items: center;
  a {
    text-decoration: none;
    color: $white;
  }
  &:hover {
    opacity: 1;
  }
}

.hover-garbage {
  font-size: 14px;
  color: white;
  &:hover {
    color: $orange;
  }
}

.group-selection {
  display: flex;
  justify-content: flex-end;
  button {
    margin: 0 4px;
  }
}

.add-meal-button {
  color: $orange;
  padding: 1px 2px;
  opacity: 0.7;
  &:hover {
    color: $orange;
    opacity: 1;
  }
}

.today {
  background-color: rgba(255, 113, 113, .5);
  opacity: 0.75;
}
