.recipe-card-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
  justify-items: center;
  align-items: center;
  a {
    text-decoration: none;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .recipe-card-container {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 1192px) {
  .recipe-card-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}


.recipe-card-container > img {
  object-fit: cover;
}

.recipe-card {
  background-color: $white;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  &:hover {
    opacity: 0.5;
  }
}

.recipe-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding-bottom: 10px;
  height: 10ex;
}

.recipe-title .black-title {
    color: $black;
}

.recipe-title .grey-text {
  color: grey;
}

.card-info {
  position: relative;
}

.icons-list {
  position: absolute;
  top: -32px;
  display: flex;
}

.icons-round {
  background-color: $white;
  color: grey;
  font-size: 24px;
  width: 3ex;
  height: 3ex;
  border-radius: 50%;
  text-align: center;
  margin: 8px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.carous-container {
  margin: 1% 8%;
  display: flex;
  height: max-content;
  justify-items: center;
  align-items: center;
}

.arrow {
  color: $black;
  -webkit-text-stroke: 1%;  
}
.arrow:hover {
  color: $orange;
}

.filters-container {
  margin: 2% 1%;
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 1%;
  justify-items: center;
  align-items: center;
}

.filter-card {
  width: 100%;
  margin: 1%;
  background-color: $orange;
  text-align: center;
  text-justify: center;
}

.text-filter {
  color: $white;
}
.text-filter:hover {
  text-decoration: none;
  color: $black;
  opacity: 0.9;
}

@media (min-width: 768px) {
  .filters-container {
    grid-template-columns: 1fr 1fr;
  }
  .filter-card {
    width: 100%;
    padding: 4%;
  }
}

@media (min-width: 1192px) {
  .filters-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .filter-card {
    width: 100%;
    padding: 8%;
  }
}
