.recipe-card-container {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .recipe-card-container {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 1192px) {
  .recipe-card-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}


.recipe-card-container > img {
  object-fit: cover;
}

.recipe-card {
  background-color: $white;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.recipe-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10ex;
}

.card-info {
  position: relative;
}

.icons-list {
  position: absolute;
  top: -26px;
  display: flex;
}

.icons-round {
  background-color: $white;
  color: $black;
  opacity: 0.9;
  font-size: 24px;
  width: 3ex;
  height: 3ex;
  border-radius: 50%;
  text-align: center;
  margin: 3px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.filters-card-container {
  margin: 5% 5%;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  border: solid 1px rgba(0,0,0,0.2);
  
}

.filter-card {
  width: 100%;
  padding: 5%;
  border: solid 1px rgba(0,0,0,0.2);
}

@media (min-width: 768px) {
  .filters-card-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1192px) {
  .filters-card-container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}