#new_favorite {
  width: 50px;
  height: 50px;
  position: relative;
  i {
    font-size: 24px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    color: red;
  }
}

.favorite-submit {
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
}
