.navbar-meal {
  justify-content: space-between;
  background: $white;
}

.navbar-meal .navbar-collapse {
  flex-grow: 0;
}

.navbar-meal .navbar-brand {
  display: flex;
  align-items: center;
  color: $black;
}

.navbar-meal .navbar-brand .white-text:hover {
  color: $orange;
}

.navbar-meal .navbar-brand img {
  width: 40px;
  &:hover {
    opacity: 0.7;
  }
}

.navbar-collapse .nav-item a:hover {
  color: $orange !important;
}

.navbar-collapse .icon-replace {
  display: none;
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
  .navbar-collapse .coriander {
    display: none;
  }
  .navbar-collapse .icon-replace {
  display: block;
  font-size: 24px;
  margin-right: 8px;
  }
  .navbar-collapse .word {
  display: none;
  }
}
