.smaller-recipe-card-container a {
  text-decoration: none;
}

.smaller-recipe-card {
  background-color: $white;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  max-width: 400px;
  &:hover {
    opacity: 0.7;
  }
}

.smaller-recipe-card > img {
  object-fit: cover;
  width: 100%;
}

.smaller-recipe-title {
  position: relative;
  display: flex;
  align-items: center;
  padding: 8px 5px;
  height: 8ex;
  color: $black;
}

// @media (max-width: 768px) {
//   #horizontal-card-stack {
//     flex-direction: column;
//   }
// }

  #horizontal-card-stack {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 40px;
  justify-items: center;
  align-items: center;
  a {
    text-decoration: none;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 800px) {
    #horizontal-card-stack {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 1192px) {
    #horizontal-card-stack {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
